/* Index list */
.index-list-operation {
	vertical-align: top;
}

/* Two column layout */
#index-form-add-identification {
  float: left;
  width: 50%;
}
#index-form-add-general {
  float: right;
  width: 50%;
}

/* Contexts */
#index-contexts {
  clear: both;
}
.index-tabs {
  background: none;
  border: 0;
  padding: 0;
}
.index-tabs .tabs {
  margin-bottom: 1px;
}
.index-tabs .tabs li {
  background: #f6f6f6;
  border: 1px solid #d6dbde;
  border-left-width: 0;
  color: #777;
  cursor: pointer;
  display: inline;
  font-size: 90%;
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 5px 10px;
  width: 100px;
}
.index-tabs .tabs li.first {
  border-left: 1px solid #d6dbde;
}
.index-tabs .tabs li.active {
  background-color: #fff;
  border-bottom-color: #fff;
  color: #000;
}
.index-tabs .tabs li:hover {
  background-color: #eee;
}
.index-tabs .tabs li.active:hover {
  background-color: #fff;
}
.index-tabs fieldset {
  background: #fff;
  border: 1px #d6dbde solid;
  margin: 0;
}
.index-tabs .panes legend {
  display: none;
}
.index-context-settings {
  /* Fix for jQuery's jumpy show and hide behavior */
  overflow: hidden;
  width: 50%;
}
.index-context-preview {
  float: right;
  width: 50%;
}

/* Live preview */
html.js .index-context-preview h2 {
  padding-left: 20px;
  position: relative;
}
.index-throbber {
  background-image: url(../../../../../misc/throbber.gif);
  height: 15px;
  margin: -7.5px 0 0 -17px;
  position: absolute;
  top: 50%;
  width: 15px;
}
.index-throbber.throbbing {
  background-position: left 20px;
}

/* Layers */
.index-form-add-layer-depth {
  background: url('../images/child.png') center no-repeat;
  float: left;
  height: 1.7em;
  margin: -0.4em 0.2em -0.4em -0.4em;
  min-height: 20px;
  padding: 0.42em 0 0.42em 0.6em;
  text-indent: -999em;
  width: 20px;
}
#index-form-add-layers .form-submit {
	border: 0;
  padding-left: 20px;
}
#index-form-add-layers .form-submit.disabled {
  color: #999;
  cursor: pointer;
}
.index-form-add-layer-depth.root {
  background: none;
  padding: 0;
  width: 0;
}
.index-form-add-layer-child-add {
	background: transparent url('../images/add.png') no-repeat;
}
.index-form-add-layer-child-add.disabled {
  background-image: url('../images/add_disabled.png');
}
.index-form-add-layer-remove {
	background: transparent url('../images/remove.png') no-repeat;
}
.index-form-add-layer-remove.disabled {
  background-image: url('../images/remove_disabled.png');
}