/* Contexts */
.index-context-preview {
  float: left;
}

/* Live preview */
html.js .index-context-preview h2 {
  padding-right: 20px;
}
.index-throbber {
  margin: -7.5px -17px 0 0;
}
.index-throbber.throbbing {
  background-position: right 20px;
}

/* Layers */
.index-form-add-layer-depth {
  background-image: url('../images/child-rtl.png');
  float: right;
  margin: -0.4em -0.4em -0.4em 0.2em;
  padding: 0.42em 0.6em 0.42em 0;
}
#index-form-add-layers .form-submit {
  background-position: right;
  padding-right: 20px;
}
.index-form-add-layer-child-add {
	background: transparent url('../images/add.png') no-repeat;
	border: 0;
}
.index-form-add-layer-child-add.disabled {
  background-image: url('../images/add_disabled.png');
}
.index-form-add-layer-remove {
	background: transparent url('../images/remove.png') no-repeat;
	border: 0;
}
.index-form-add-layer-remove.disabled {
  background-image: url('../images/remove_disabled.png');
}