/* Browsable */
.item-list ul.index-display-flat li.parent {
  background-image: url(../../../../../themes/garland/images/menu-collapsed-rtl.gif);
  background-position: left center;
}

/* Trees */
.index-display-tree .index-list-style, .index-display-tree_expandable .index-list-style {
  margin-left: 5px;
}
/* Expandable tree */
.index-display-tree_expandable .parent.collapsed>.index-list-style {
  background-image: url(../../../../../themes/garland/images/menu-collapsed-rtl.gif);
}