/* Flat layers (Upper level, Upper two levels & Browsable) */
.item-list ul.index-display-flat li {
  background-image: none;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 3px 10px;
}
.item-list ul.index-display-flat li.first {
  border-top: 1px solid #ddd;
}
.item-list ul.index-display-flat li.odd {
  background-color: #fafafa;
}

/* Upper two layers */
.item-list ul.index-display-flat ul li {
  border: 0;
  display: inline;
  font-size: 0.9em;
}
.item-list ul.index-display-flat ul li.first {
  border: 0;
}

/* Browsable */
.item-list ul.index-display-flat li.parent {
  background-image: url(../../../../../themes/garland/images/menu-collapsed.gif);
  background-position: right center;
  background-repeat: no-repeat;
}

/* Trees */
.index-display-tree .item-list li, .index-display-tree_expandable .item-list li {
  background: none;
}
.index-display-tree .index-list-style, .index-display-tree_expandable .index-list-style {
  background: url(../../../../../themes/garland/images/menu-leaf.gif) center no-repeat;
  display: inline-block;
  margin-right: 5px;
  height:16px;
  width: 16px;
}
html.js .index-display-tree_expandable .parent>.index-list-style {
  cursor: pointer;
}
.index-display-tree .parent.expanded>.index-list-style, .index-display-tree_expandable .parent.expanded>.index-list-style {
  background-image: url(../../../../../themes/garland/images/menu-expanded.gif);
}
.index-display-tree .item-list a, .index-display-tree_expandable .item-list a {
  display: inline;
}
/* Expandable trees */
.index-display-tree_expandable .parent.collapsed>.index-list-style {
  background-image: url(../../../../../themes/garland/images/menu-collapsed.gif);
}
.index-display-tree_expandable .collapsed>div>ul {
  display: none;
}